<h1> View properties </h1>

  <% unless @current_user == nil %>
    <h2>Hello <%= "#{@current_user}" %> </h2>
  <% end %>

<ul style="list-style-type:none;">
<% @properties.each do |property| %>
  <li> <%= property.name %>  
    <ul> 
      <li> Property description: <%= property.description %> </li>
      <li> Price per night: £<%= property.price_per_night %> </li>
      <li> Available to book?
       <% if property.available == true %>
        Yes
        <% else %>
        No 
        <% end %> </li>
    </ul>
  </li>
<% end %>
</ul>  

<% if @current_user != nil %>
  <div>
    <a href="/properties/new">
      <button>Add property</button>
    </a>
  </div>
  <% else %>
    <div>
      <a href="/users/login">
        <button>Log in </button>
      </a>
    </div>
  <% end %>

<% if @current_user != nil %>
<div>
  <form action="/users/logout" method="post">
    <input type="submit" value="Sign out" />
  </form>
</div>

 <% else %>

<div>
  <a href="/users/new">
    <button>Sign up</button>
  </a>
</div>
 <% end %>