<h1> View properties </h1>
<h2>Hello <%= "#{@current_user}" %> </h2>
<ul style="list-style-type:none;">
<% @properties.each do |property| %>
  <li> <%= property.name %>  
    <ul> 
      <li> Property description: <%= property.description %> </li>
      <li> Price per night: £<%= property.price_per_night %> </li>
      <li> Available to book?
       <% if property.available == true %>
        Yes
        <% else %>
        No 
        <% end %> </li>
    </ul>
  </li>
<% end %>
</ul>  
<a href="/properties/new">
    <button>Add property</button>
</a>