<h2> Please enter your log in details </h2>

<form action="/users/login" method="post">
  <div>
    <label for="email"> Email: </label>
    <input type="text" name="email" placeholder="123@gmail.com" required>
  </div>
    <div>
    <label for="password"> Password:</label>
    <input type="password" name="password" placeholder="keep it secret" required>
  </div>
  <div>
    <input type="submit" value="Sign in">
  </div>
</form>

