<h2> Please enter your log in details </h2>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action="/users/login" method="post">
  <div>
    <label for="email"> Email: </label>
    <input type="text" name="email" placeholder="123@gmail.com" required>
  </div>
    <div>
    <label for="password"> Password:</label>
    <input type="password" name="password" placeholder="keep it secret" required>
  </div>
  <div>
    <input type="submit" value="Sign in">
  </div>
</form>

