<h1> Enter your details </h1>

<form action="/users/new" method="post">
  <div >
    <label for="name"> Name: </label>
    <input type="text" name="name" placeholder="Your Name" required>
  </div>
  <div>
    <label for="email"> Email: </label>
    <input type="text" name="email" placeholder="123@gmail.com" required>
  </div>
    <div>
    <label for="password"> Password:</label>
    <input type="text" name="password" placeholder="keep it secret" required>
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>